<h1>ユーザー一覧</h1>
<% @users.each do |user| %>
  <%= user.id %>: <%= link_to user.name, user_path(user) %><br>
<% end %>
<%= form_for @user do |f| %>
  <%= f.text_field :name, placeholder: "追加", autofocus: true %>
<% end %>